<!DOCTYPE html>
<html>
<head>
  <title>Globot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="logologinbar">
    <div class="logo">
      <img src="http://assets.thefreelogomakers.com/generators/free-logo-maker/images/tflm.co.WZANFAK36-2.png"
       alt="Globot" />
    </div>
    <% if current_user == nil %>
      <div class="login">
        <%= form_tag '/login' do %>
        <%= text_field_tag :email, nil, placeholder: "Email" %>
        <%= password_field_tag :password, nil, placeholder: "Password" %>
        <%= submit_tag "Login"%>
        <% end %><span class="signup"> | <%= button_to "Sign Up!", '/users/new', method: :get=%> </span>
      </div>
    <% else %>
      <div class="login">
        <%= button_to "Goto Profile", "/users/#{current_user.id}", method: :get %>
        <%= button_to "Logout", logout_path, method: :get%>
      </div>
    <% end %>
  </div>
  <% if current_user == nil %>
  <div class="container">
    <h1>Welcome <%= current_user != nil ? "back, #{current_user.firstname}!": "to Globot!" %></h1>
    <span class = "tagline">Pitch to meet anyone on the planet!
      <span class= "president">Like the President,</span>
      <span class= "norris">Chuck Norris,</span> or Even
      <span class="cloin">Cloin!</span>
    </span><br />
    Join us and make yourself available for an some time to help make the world a better place, or pitch to meet someone who can help you!
    <% end %>
    <%= yield %>
  </div>

</body>
</html>
